body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 30px;
  line-height: 1.5;
}

.bold {
  text-align: justify;
  font-weight: bold;
}

.pagebreak {
  page-break-before: always;
}

.nextPage {
  page-break-before: always;
}

@page :first {
  @top-left-corner {
    content: element(header);
  }
  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 80%;
    font-family: Tahoma, Geneva, sans-serif;
  }
}
@page {
  @left-bottom {
    content: element(header2);
  }
  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
    color: white;
    font-size: 80%;
    font-family: Tahoma, Geneva, sans-serif;
  }
}

div.header {
  position: running(header);
}
div.header2 {
  position: running(header2);
}